body {
    font-family: 'Montserrat', sans-serif;
    color:white;
}

h1 {
    font-family: 'Yellowtail', cursive;
    color: #ff9d00;
}

h2 {
    font-family: 'Yellowtail', cursive;
    color: #213b72;
}

h3 {
    color: #ff9d00;
}

.dark h2 {
    color: #59cbf5;
}

.dark small {
    color: #ccc;
}

small {
    color: #555;
}

#contact h3 {
    color: #213b72;
}

.container-fluid {
    z-index: 1;
    background-color: #333;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding:0;
}

.container-fluid .cover {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0,0,0,.6);
}



/* BACKGROUNDS */

#about {
    background-image: url("./about.jpg");
}

#practices {
    background-color: white;
    color: black;
}

#ncxnw {
    background-image: url("./ncxnw.jpg");
}

#smc {
    background-color: white;
    color: black;
}

#roster {
    background-image: url("roster.jpg");
}

#contact {
    background-color: white;
    color: black;
}

/* SCORES */
.us {
    display: inline-block;
}

.them {
    display: inline-block;
}

/* ROSTER */

.number {
    display: inline-block;
}

/* MEDIA */

@media (max-width:575px) {
    h1 {
        font-size:40px;
    }

    h2 {
        font-size:24px;
    }

    h3 {
        font-size:14px;
    }
    
    .navbar-brand {
        font-size:14px;
    }

    .nav-item {
        font-size:14px;
    }

    p {
        font-size:14px;
        margin-left:20px;
    } 

    .container {
        padding:30px;
        padding-bottom:100px;
    }

    #about {
        padding-top: 160px;
        padding-bottom:60px;
    }

    #about .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* SCORES */
    .us {
        display: inline-block;
        width: 24px;
    }

    .them {
        display: inline-block;
        width: 24px;
        margin-left: 6px
    }

    /* ROSTER */

    .number {
        width: 28px;
    }
}

@media (min-width: 576px) { 
    h1 {
        font-size:40px;
    }

    h2 {
        font-size:24px;
    }

    h3 {
        font-size:14px;
    }

    br {
        display:none;
    }
    
    .navbar-brand {
        font-size:14px;
    }

    .nav-item {
        font-size:14px;
    }

    p {
        font-size:14px;
        margin-left:20px;
    } 

    .container {
        padding-top:30px;
        padding-bottom:100px;
    }

    #about {
        padding-top: 160px;
        padding-bottom:60px;
    }

    #about .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }


    /* SCORES */
    .us {
        display: inline-block;
        width: 24px;
    }

    .them {
        display: inline-block;
        width: 24px;
        margin-left: 6px
    }

    .against {
        margin-left:16px;

    }

    /* ROSTER */

    .number {
        width: 28px;
    }
}

@media (min-width: 768px) { 
    h1 {
        font-size:40px;
    }

    h2 {
        font-size:24px;
    }

    h3 {
        font-size:14px;
    }

    br {
        display:none;
    }
    
    .navbar-brand {
        font-size:14px;
    }

    .nav-item {
        font-size:14px;
    }

    p {
        font-size:14px;
        margin-left:20px;
    } 

    .container {
        padding-top:40px;
        padding-bottom:120px;
    }

    #about {
        padding-top: 160px;
        padding-bottom:60px;
    }

    #about .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* SCORES */
    .us {
        display: inline-block;
        width: 24px;
    }

    .them {
        display: inline-block;
        width: 24px;
        margin-left: 6px
    }

    .against {
        margin-left:16px;

    }

    /* ROSTER */

    .number {
        width: 28px;
    }
}

@media (min-width: 992px) { 
    h1 {
        font-size:48px;
    }

    h2 {
        font-size:28px;
    }

    h3 {
        font-size:18px;
    }

    br {
        display:none;
    }
    
    .navbar-brand {
        font-size:18px;
    }

    .nav-item {
        font-size:14px;
    }

    p {
        font-size:14px;
        margin-left:28px;
    } 

    .container {
        padding-top:60px;
        padding-bottom:160px;
    }

    #about {
        padding-top: 200px;
        padding-bottom:60px;
    }

    #about .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* SCORES */
    .us {
        display: inline-block;
        width: 24px;
    }

    .them {
        display: inline-block;
        width: 24px;
        margin-left: 6px
    }

    .against {
        margin-left:24px;

    }

    /* ROSTER */

    .number {
        width: 28px;
    }
}

@media (min-width: 1200px) {
    h3 {
        font-size:20px;
    }
    
    p {
        margin-left:32px;
    } 

    br {
        display:none;
    }

    .container {
        padding-top:80px;
        padding-bottom:200px;
    }

    #about {
        padding-top: 200px;
        padding-bottom:80px;
    }

    #about .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #about h1 {
        font-size: 60px;
    }

    /* SCORES */
    .us {
        display: inline-block;
        width: 32px;
    }

    .them {
        display: inline-block;
        width: 32px;
        margin-left: 8px
    }

    .against {
        margin-left:32px;

    }

    /* ROSTER */

    .number {
        width: 32px;
    }
}