body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Yellowtail', cursive;
    color: #ff9d00;
}

h2 {
    font-family: 'Yellowtail', cursive;
    color: #213b72;
}

h3 {
    font-size:20px;
    color: #ff9d00;
}

p {
    margin-left:32px;
}

.us {
    display: inline-block;
    width: 32px;
}

.them {
    display: inline-block;
    width: 32px;
    margin-left: 8px
}

.against {
    margin-left:32px;

}

.dark h2 {
    color: #59cbf5;
}

.dark small {
    color: #ccc;
}

#contact h3 {
    color: #213b72;
}

.hero {
    position: relative;
    z-index: 1;
    background-color: #333;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}

#about {
    background-image: url("https://www.maxpixel.net/static/photo/2x/Dusk-Sunrise-Sea-Beach-Dawn-Seascape-Ocean-Sun-1867285.jpg");
    height: 550px;
}

#practices {
    background-color: white;
    color: black;
    height: 600px;
}

#ncxnw {
    background-image: url("./ncxnw.jpg");
    height: 600px;
}

#smc {
    height: 700px;
    background-color: white;
    color: black;
}

#roster {
    background-image: url("https://www.publicdomainpictures.net/pictures/280000/nahled/background-waves-wave-texture-1538143829l0J.jpg");
    height: 1000px;
}

.number {
    display: inline-block;
    width:32px;
}

#contact {
    background-color: white;
    color: black;
    height: 450px;
}


.hero .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0,0,0,.6);
}

.hero .overlay {
    position: absolute;
    z-index: 999;
    top: 30%;
    width: 100%;
    transform: translateY(-30%);
}

#about .overlay {
    top: 50%;
}

.hero .overlay {
    width: 50%;
    margin-left: 25%;
}

.hero h1 {
    font-size: 60px;
}




